.single-news-page-post-container {
    margin: 0 auto;
    width: 100%;
    max-width: 1024px;
    .single-news-page-post {
        width: 100%;
        padding: 0 1rem;
        .article-meta {
            display: flex;
            .article-author {
                span {
                    font-weight: 600;
                }
            }
        }
    }
}