#featured-products {
    padding: 2rem;
    .featured-products-container {
        padding: 3rem 0rem;
        max-width: 1024px;
        margin: 0 auto;
        h2 {
            text-align: center;
            text-transform: uppercase;
            font-size: 1.5rem;
        }
        .product-wrapper {
            margin-top: 2rem;
            article {
                overflow: hidden;
                position: relative;
                display: flex;
                margin: 1rem 0;
                justify-content: center;
                box-shadow:0 0px 0px #00000020;
                padding: 0;
                transition: box-shadow 0.1s linear 0.2s, transform 0.2s linear;
                &:hover {
                    box-shadow:0 3px 12px #00000020;
                    transform: translateY(-10px);
                    transition: box-shadow 0.1s, transform 0.2s linear;
                    .price-tag {
                        width: 100%;
                        height: 100%;
                        transition: width 0.2s ease-in, height 0.2s ease-in 0.2s;
                    }
                    .short-description {
                        transform: translateY(0);
                        transition: transform 0.2s ease-in 0.2s;;
                    }
                    .view-details-btn {
                        opacity: 1;
                        transition: opacity 0.4s linear 0.4s;
                    }
                }
                figure {
                    width: 100%;
                    height: 100%;
                    margin: 0;

                    img {
                        object-fit: cover;
                        margin: 0;
                    }
                }
                .price-tag {
                    position: absolute;
                    bottom: 0;
                    background-color: rgba(124, 132, 154, 0.90);
                    margin: 0 auto;
                    transition: width 0.2s ease-in, height 0.2s ease-out 0.2s;
                    width: 120px;
                    height: 50px;
                    .price-wrapper {
                        display: flex;
                        padding: .6rem;
                        justify-content: center;
                    }
                    .promo-price {
                        margin-left: 0.5rem;
                    }
                    .price, .promo-price {
                        color: white;
                        font-weight: 600;
                    }
                    &.promo {
                        .price {
                            text-decoration: line-through;
                            font-weight: 300;
                        }
                    }
                }
                .short-description {
                    width: 100%;
                    background-color: white;
                    position: absolute;
                    bottom: 0;
                    transform: translateY(100%);
                    transition: transform 0.2s ease-in;
                    .short-description-wrapper {
                        display: flex;
                        flex-direction: column;
                        padding: 1rem;
                        h3, p {
                            text-align: center;
                            color: #7C849A;
                        }
                        p {
                            font-size: 11px;
                        }
                        h3 {
                            font-size: 16px;
                            font-weight: 600;
                            text-transform: uppercase;
                            margin-block-end: 1rem;
                        }
                    }
                }
                .view-details-btn {
                    opacity: 1;
                    position: absolute;
                    top: 30%;
                    color: white;
                    background-color: rgb(9, 32, 63);
                    font-size: 1.2rem;
                    text-transform: capitalize;
                    border: 1px solid white;
                    padding: 1rem 2rem;
                    overflow: hidden;
                    z-index: 1;
                    transition: color 0.6s;
                    &:hover {
                        color: #7C849A;
                        transition: color 0.6s;
                        cursor: pointer;
                    }
                    &:focus {
                        outline-color: rgba(0, 17, 255, 0.877);
                    }
                    &:before {
                        content: '';
                        z-index: -1;
                        background: white;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        transition: all 0.6s ease;
                        width: 100%;
                        height: 0;
                        transform: translate(-50%, -50%) rotate(45deg);
                    }
                    &:hover::before {
                        height: 300%;
                    }
                    &:active::before {
                        height: 380%;
                    }
                }
            }
        }
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {

    #featured-products {
        .featured-products-container {
            .product-wrapper {
                article {
                    margin: 1rem;
                    .price-tag {
                        height: 40px;
                        .price, .promo-price {
                            font-size: 0.85rem;
                        }
                    }
                    .short-description {
                        .short-description-wrapper {
                            padding: 0.85rem;
                            p {
                                font-size: 11px;
                            }
                            h3 {
                                font-size: 14px;
                            }
                        }
                    }
                    .view-details-btn {
                        top: 20%;
                        font-size: 0.85rem;
                    }
                }
            }
        }
    }
 }

 // Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    #featured-products {
        .featured-products-container {
            .product-wrapper {
                justify-content: space-between;
                width: 100%;
                article {
                    width: 300px;
                    height: 300px;
                    .price-tag {
                        height: 50px;
                        .price, .promo-price {
                            font-size: 1rem;
                        }
                    }
                    .short-description {
                        .short-description-wrapper {
                            padding: 1rem;
                            h3, p {
                                text-align: center;
                                color: #7C849A;
                            }
                            p {
                                font-size: 11px;
                            }
                            h3 {
                                font-size: 16px;
                            }
                        }
                    }
                    .view-details-btn {
                        top: 30%;
                        font-size: 1rem;
                        padding: 0.75rem 1.5rem;
                    }
                }
            }
        }
    }
}
