.menu-wrap {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 990;
    .toggler {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 991;
        cursor: pointer;
        width: 50px;
        height: 50px;
        opacity: 0; //hides checkbox =)
        &:checked + .hamburger > div {
            transform: rotate(135deg);
            &:before, &:after {
                top: 0;
                transform: rotate(90deg);
            }
        }
        /* Rotate on hover when checked */
        &:checked:hover + .hamburger > div {
            transform: rotate(225deg);
        }
        /* Show menu */
        &:checked ~ .menu {
            visibility: visible;
            > div {
                transform: scale(1);
                transition-duration: 0.75s;
                > div {
                    opacity: 1;
                    transition: opacity 0.4s ease;
                }
            }
        }
    }
    .hamburger {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 60px;
        height: 60px;
        padding: 1rem;
        background-color: #7C849A;
        display: flex;
        align-items: center;
        justify-content: center;
        /* Hamburger Lines */
        > div {
            position: relative;
            width: 100%;
            height: 2px;
            background-color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all 0.4s ease, visibility 0s ease;
            &:before, &:after {
                content: '';
                position: absolute;
                z-index: 1;
                top: -10px;
                width: 100%;
                height: 2px;
                background-color: inherit;
            }
            &:after {
                top: 10px;
            }
        }
    }
    .menu {
       position: fixed;
       top: 0;
       left: 0;
       width: 100%;
       height: 100%;
       overflow: hidden;
       display: flex;
       align-items: center;
       justify-content: center;
       visibility: hidden;
       > div {
           background-color: #071931e0;
           min-width: 200vw;
           min-height: 200vh;
           display: flex;
           flex: none;
           align-items: center;
           justify-content: center;
           transform: scale(0);
           transition: all 0.4s ease;
           > div {
               text-align: center;
               max-width: 90vw;
               max-height: 100vh;
               opacity: 0;
               transition: opacity 0.4s ease;
               > ul > li {
                   color: white;
                   font-size: 1.5rem;
                   padding: 1rem;
                   a {
                       color: inherit;
                       text-decoration: none;
                       transition: color 0.4s ease;
                   }
               }
           }
       }
    }
}


.desktop-nav {
    visibility: hidden;
    background-color: rgba(255, 255, 255, 0.7);
    position: fixed;
    z-index: 9000;
    width: 100vw;
    transform: translateY(0);
    transition: transform 0.3s ease, background-color 0.3s ease;
    & .navbar-item {
        text-transform: uppercase;
        &:hover {
            color: #7C849A;
        }
        &.active-navbar-item {
            color: #7C849A;
        }
    }
    &.shadow {
        box-shadow: 0 3px 6px #70707023;
        background-color: white;
    }
    &.hidden {
        transform: translateY(-110%);
    }
}

@media only screen and (min-width : 1024px) {
    .menu-wrap {
        visibility: hidden;
        transition: visibility 0s ease;
    }
    .desktop-nav {
        visibility: visible;
    }
}