.news-article {
    display: flex;
    flex-direction: column;
    margin: 3rem 1rem;
    box-shadow: 0 3px 12px #00000020;
    .article-image-container {
        display: flex;
        img {
        }
    }
    .article-body-container {
        position: relative;
        padding: 1rem 2rem;
        header {
            .article-title {
                margin-bottom: 0.8rem;
                font-weight: 600;
                font-size: 1.5rem;
            }
            p {
                display: inline-block;
            }
            p:first-of-type {
                margin-right: 1rem;
            }
        }
        .article-button a {
            color: white;
            background-color: #7C849A;
            font-size: 0.8rem;
            padding: 1rem 2rem;
            position: absolute;
            bottom: 0;
            left: 0;
            margin-left: 2rem;
            transform: translateY(50%);
            box-shadow: 0 3px 12px #00000020;
        }    
    } 
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    .news-article {
        flex-direction: row;
        .article-image-container {
            height: 100%;
            flex: 1 1 auto;
            img {
            }
        }
    }
}